
{
  "extends": "airbnb/base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-param-reassign": 0,
    "import/named": 2,
    "import/default": 2,
    "import/export": 2,
    "import/imports-first": 2,
    "import/no-duplicates": 2,
    "import/no-unresolved": 2
  },
  "plugins": ["import"],
  "settings": {
    "import/ignore": ["node_modules", "\\.png$", "\\.wav$", "\\.mp3$"]
  }
}
